@model IEnumerable<_57361.Models.Presentation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slides)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slides)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speaker.Bio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PresentationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PresentationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PresentationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
